<%= simple_form_for([@book, @book.reviews.build]) do |f| %>
  <div id="rating-form">
    <label><%= t('rating-value') %></label>
  </div>
  <%= f.input  :comment, label: t('review-comment')  %>
  <%= f.button :submit, t('create-review') ,:class => 'btn-custom2' %>
<% end %>


<script>
  $('#rating-form').raty({
      path: '/assets/',
      scoreName: 'review[rating]'
  });
</script>