<div class="review">
  <div class="review-rating" data-source="<%= review.rating %>" ></div>
  <p class="review-comment"><%= review.comment %></p>

  <% if user_signed_in? %>
      <% if review.user_id == current_user.id %>
      <div class="links btn-group">
        <%= link_to t('edit-rev'), edit_book_review_path(review.book, review), class: "btn btn-custom" %>
        <%= link_to t('delete-rev'), book_review_path(review.book, review), method: :delete, data: {confirm: t('delete-confirm') }, class: "btn btn-custom" %>
      </div>
    <% end %>
  <% end %>
</div>
